<a href="https://colab.research.google.com/github/oussama016/Webscraping_BeautifulSoup_project/blob/main/webscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen
url_imdb= 'https://www.imdb.com/chart/top/?ref_=nv_mv_250'
page=urlopen(url_imdb)
soup = bs(page, "html.parser")

In [ ]:
films_im=soup.findAll('td', attrs = {'class' : "titleColumn"})

In [ ]:
film1 = films_im[0]
film1.a.text

'The Shawshank Redemption'

In [ ]:
rang=film1.text.split()
int(rang[0].strip("."))

['1.', 'The', 'Shawshank', 'Redemption', '(1994)']

In [ ]:
film1.span.text.strip("()")

'1994'

In [ ]:
notes=soup.findAll('td', attrs = {'class' : "ratingColumn imdbRating"})
float(notes[0].strong.text) #première note

9.2

In [ ]:
import pandas as pd
titres=[]
rangs=[]
années=[]
notes_list=[]
for film in films_im:
  titres.append(film.a.text)
  rang1=film.text.split()
  rangs.append(rang1[0].strip("."))
  années.append(film.span.text.strip("()"))
for note in notes:
  notes_list.append(note.strong.text)

In [ ]:
df_imdb=pd.DataFrame(list(zip(titres,rangs,années,notes_list)), columns=["Titre","Rangs" ,"années","notes_list"])

In [ ]:
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen
url_allocine= 'https://www.allocine.fr/film/meilleurs/'
page = urlopen(url_allocine)
soup1 = bs(page, "html.parser")

In [ ]:
films_all=soup1.findAll('div', attrs={'class':"card entity-card entity-card-list cf"})
len(films_all)

10

In [ ]:
film1=soup1.find('div', attrs={'class':"card entity-card entity-card-list cf"})
film1.a.text

'Forrest Gump'

In [ ]:
note_presse=soup1.findAll('span', attrs={'class':"stareval-note"}) 
#note_presse[0].text
note_presse[2]

In [ ]:
note_presse=soup1.findAll('span', attrs={'class':"stareval-note"}) 
note_presse[0].text

'2,6'

In [ ]:
note_spec=soup1.findAll('span', attrs={'class':"stareval-note"}) 
note_spec[1].text

'4,6'

In [ ]:
import pandas as pd
titres_1=[]
N_presses=[]
N_spect=[]

film1_all=soup1.findAll('div', attrs={'class':"card entity-card entity-card-list cf"})

for movie in film1_all:
  titres_1.append(movie.a.text)
for count, movie1 in enumerate(note_presse):
  if count in [0,3,6,9,12,15,18,21,24,27,30] :
    N_presses.append(movie1.text)
  if count in [1,4,7,10,13,16,19,22,25,28,31] :
    N_spect.append(movie1.text)

['Forrest Gump',
 'La Liste de Schindler',
 'La Ligne verte',
 '12 hommes en colère',
 'Le Parrain',
 'Les Evadés',
 'Le Seigneur des anneaux : le retour du roi',
 'Le Roi Lion',
 "Vol au-dessus d'un nid de coucou",
 'The Dark Knight, Le Chevalier Noir']

In [ ]:
df_allocine=pd.DataFrame(list(zip(titres_1,N_presses,N_spect)), columns=["Titre","Notes presse" ,"Notes spectateurs"])
df_allocine

                                        Titre Notes presse Notes spectateurs
0                                Forrest Gump          2,6               4,6
1                       La Liste de Schindler          4,2               4,6
2                              La Ligne verte          2,8               4,6
3                         12 hommes en colère          5,0               4,6
4                                  Le Parrain          4,6               4,5
5                                  Les Evadés          3,2               4,5
6  Le Seigneur des anneaux : le retour du roi          3,8               4,5
7                                 Le Roi Lion          3,4               4,5
8            Vol au-dessus d'un nid de coucou          5,0               4,5
9          The Dark Knight, Le Chevalier Noir          4,0               4,5

In [ ]:
df1 = df_allocine.copy()
df1['Titre'] = df1['Titre'].str.upper()
df1

                                        Titre Notes presse Notes spectateurs
0                                FORREST GUMP          2,6               4,6
1                       LA LISTE DE SCHINDLER          4,2               4,6
2                              LA LIGNE VERTE          2,8               4,6
3                         12 HOMMES EN COLÈRE          5,0               4,6
4                                  LE PARRAIN          4,6               4,5
5                                  LES EVADÉS          3,2               4,5
6  LE SEIGNEUR DES ANNEAUX : LE RETOUR DU ROI          3,8               4,5
7                                 LE ROI LION          3,4               4,5
8            VOL AU-DESSUS D'UN NID DE COUCOU          5,0               4,5
9          THE DARK KNIGHT, LE CHEVALIER NOIR          4,0               4,5

In [ ]:
df_imdb
df2 = df_imdb.copy()
df2['Titre'] = df2['Titre'].str.upper()
df2

                        Titre Rangs années notes_list
0    THE SHAWSHANK REDEMPTION     1   1994        9.2
1               THE GODFATHER     2   1972        9.2
2             THE DARK KNIGHT     3   2008        9.0
3       THE GODFATHER PART II     4   1974        9.0
4                12 ANGRY MEN     5   1957        9.0
..                        ...   ...    ...        ...
245               DERSU UZALA   246   1975        8.0
246                  THE HELP   247   2011        8.0
247                    GANDHI   248   1982        8.0
248                   ALADDIN   249   1992        8.0
249            THE IRON GIANT   250   1999        8.0

[250 rows x 4 columns]

In [ ]:
#Personnes.merge(right = Vehicule, on = 'Voiture', how = 'inner')

df3 = df1.merge(right = df2, on = 'Titre', how = 'inner')
df3

          Titre Notes presse Notes spectateurs Rangs années notes_list
0  FORREST GUMP          2,6               4,6    11   1994        8.8

In [ ]:
df3.dtypes
df3['Notes spectateurs'] = pd.to_numeric(df3['Notes spectateurs'], errors='coerce')
df3['notes_list'] = pd.to_numeric(df3['notes_list'], errors='coerce')

df3.dtypes

Titre                 object
Notes presse          object
Notes spectateurs    float64
Rangs                 object
années                object
notes_list           float64
dtype: object

In [ ]:
from sklearn.preprocessing import MinMaxScaler
  
# Creating an instance of the sklearn.preprocessing.MinMaxScaler()
scaler = MinMaxScaler(feature_range=(0,10))
  
# Scaling the Price column of the created dataFrame and storing
# the result in ScaledPrice Column
df3[["ScaledPress_imdb", "Scaled_allocine"]] = scaler.fit_transform(
    df3[["notes_list", "Notes spectateurs"]])
df3

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_data.py:461: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_data.py:462: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)

,Titre,Notes presse,Notes spectateurs,Rangs,années,notes_list,ScaledPress_imdb,Scaled_allocine
0,FORREST GUMP,"2,6",NaN,11,1994,8.8,0.0,NaN